body {
  color: white !important;
  background: linear-gradient(
    84deg,
    rgb(48, 46, 46) 0%,
    rgba(34, 33, 55, 0.799) 35%,
    rgba(0, 0, 0, 0.687) 100%
  );
}

.glass {
  background-color: rgba(255, 235, 235, 0.159) !important;
  border-radius: 25px !important;
}

.table-wrapper {
  max-height: 350px;
  overflow: auto;
  display: inline-block;
}

.icons a {
  text-decoration: none;
}
.icons i {
  color: white;
}
.icons i:hover {
  color: red;
}
