{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
<!-- <div class="container">
    <div class="card">
        <div class="row">
            <div class="col-lg-4 p-5">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt=""
                    class="img-fluid img-thumbnail">
            </div>
            <div class="card-body col-lg-8 p-5 align-middle">
                <h2 class="card-title text-uppercase">Operator Panel</h2>
                <p class="card-text">Welcome ! <br> This is the Admin Dashboard <br> One Place to Manage
                    Customers, Drone Shots and their Bookings ! </p>
                <a href="/customer" class="btn btn-primary">Customers</a>
                <a href="/drone" class="btn btn-primary">Drone Shots</a>
                <a href="/booking" class="btn btn-primary">Bookings</a>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}