{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
<div class="container">

    <div class="text-center">
        <img src="{{ url_for('static', filename='profile.jpg') }}" alt="" class="img-fluid img-thumbnail col-2">
    </div>

    <div class="text-center">
        <h1>Welcome Admin !!</h1>
        <h3>This is your place to manage your Droame Drone Shots, Customers and Bookings all at one place</h3>
    </div>
</div>

<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
{% endblock %}